#window {
  width: 100vw;
  height: 100vh;
}

#dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  justify-content: center;
  background-color: $background;
  gap: 1.5rem;
  padding: 4rem 1rem 1rem 1rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 3rem;
  padding: 0.5rem;
  background-color: $dark-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  display: flex;
  align-items: start;
  .icon {
    margin: 0.5rem 1rem;
  }

  #troveql-logo {
    margin: 0rem 4rem 0rem 2rem;
    height: 2rem;
  }

  button {
    color: white;
    text-align: center;
    width: 10rem;
    display: flex;
    align-items: center;
  }
}

#button-container {
  display: flex;
  align-items: center;
}

button {
  --c: rgb(254 169 79); /* the color*/
  font-size: 0.8rem;
  color: $font-dark;
  border-radius: 0.2rem;
  width: 8rem;
  height: 2rem;
  margin-left: 1rem;
  border-right: 1px solid gray;
  border-left: 1px solid gray;

  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  transform: translateX(2px);
  background-color: var(--c);
}
#config-cont {
  display: flex;
  flex-direction: column;
  align-items: end;

}
#config-display {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $dark-gray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  padding: .5rem;
  border-radius: .2rem;
  gap: .2rem;
}

label {
  display: flex;
  gap: .5rem;
}