//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
//Working on importing a new font

body {
  font-family: $global-font;
  margin: none;
  max-width: 38rem;
  background-color: $background;
  color: $font-dark;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 1rem;
}
h5 {
  font-size: .8rem;
}
