//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
//Working on importing a new font

body {
  font-family: $global-font;
  margin: none;
  max-width: 38rem;
  background-color: $background;
  color: $font-dark;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 1rem;
}
h5 {
  font-size: .8rem;
}

.small-container {
  display: flex;

  #idealSize {
    background-color: gray;
    padding: 0.5em;
    border-radius: 0.2rem;
    align-self:self-start;

    p {
      font-size: .8rem;
      color: white;
    }

  }
  
}


